html,
body{

    background-color: black;
        
    margin: 0%;
    padding: 0%;

    color: white;

}
/* img{
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    
} */

header{
    border-bottom: 5px solid #181313;

    color: rgb(139,137,78);
    
    width: 100%;
    height: 120px;
    
    background-color: rgb(36,32,32);

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
pre{
    font-size: 38px;
    text-align: center;
    font-family: 'Saira', sans-serif;
    
    margin: 0%;
    padding-left: 5%;
}

nav{
    width: 500px;
    display: flex;
    justify-content: space-around;
}

li, a{
    color: rgb(139,137,78);
    font-size: 25px;
    font-family:'Red Hat Text', sans-serif;;
    list-style: none;
    text-decoration: none;

}

a:hover{

    transition: 0.3s;
    color: black;
}

/* li:hover{
    border: 1px solid #000000;
    border-radius: 10px;
    padding: ;
    
} */


.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secao{
    
    text-align: center;
    font-family: 'Red Hat Text', sans-serif;
    
    border-bottom: 5px solid #181313;
    
    height: 720px;
    width: 100%;

}

.secao h2{
    margin-top: 50px;
    margin-bottom: 40px;

    color: white;
}

#figure p{
    font-size: small;

    margin: 7px;
}

.cont{
    padding: 0%;
    margin: 0%;
    width: 100%;

    display: flex;
    justify-content: space-around;
}

#story{
    background-image: url(./img/background.svg);
   
    width: 100%;

    text-align: center;

    display: flex;
    flex-flow: column;
    align-items: center;
}
#play{
    background-color: rgb(36,32,32);

    display: flex;
    flex-flow: column;
    align-items: center;
}

section{
    background-color: rgb(0, 0, 0, 80%);
    
    font-family: 'Saira', sans-serif;
    font-size: 28px;

    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    
    width: 60%;
}

.persona{
    width: 200px;
    height: 100%;

    margin-top: 80px;
    /* margin-bottom: 100px; */

    background: #181313;
    border: 2px solid rgb(36,32,32);
    box-sizing: border-box;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.persona a{
    width: 100%;
    color: white;
}
.persona a:hover{
    color: darkorange;
    font-size: 30px;
    border-radius: 10px;
    
}
span{
    color: darkorange;
}

footer{
    background-color: rgb(36,32,32, 100%);

    width: 100%;
    height: 50px;

}
footer a, footer li{
    font-size: 15px;
}

#rodape{

    margin: 0%;
    padding: 0%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}





